<template>
  <swiper :options="swiperOption" ref="mySwiper">
    <swiper-slide v-for="item in data"><img :src="item.url" alt=""></swiper-slide>

    <!--<div class="swiper-pagination"  slot="pagination"></div>-->
    <!--<div class="swiper-scrollbar"   slot="scrollbar"></div>-->
  </swiper>
</template>

<script>
  import 'swiper/dist/css/swiper.css'

  export default {
    name: 'carousel',
    data() {
      return {
        swiperOption: {
          autoplay: true,
          loop: true
        },
        data: [
          {num: 1, url: 'http://img1.3lian.com/img013/v4/96/d/41.jpg'},
          {num: 2, url: 'http://img1.3lian.com/img013/v4/96/d/41.jpg'},
          {num: 3, url: 'http://img1.3lian.com/img013/v4/96/d/41.jpg'},
          {num: 4, url: 'http://img1.3lian.com/img013/v4/96/d/41.jpg'}
        ]
      }
    }
  }
</script>

<style scoped>
  .swiper-slide {
    height: 180px;
  }

  img {
    width: 100%;
    height: 100%;
  }
</style>
