<template>
  <div class="goods-box">
    <div class="title">
      <span class="title-name"><i></i>{{goodsList.titleName}}</span>
      <span class="more" @click="viewMore(goodsList.type)">{{more}}</span>
    </div>
    <div class="goods-list">
      <div class="goods" v-for="item in goodsList.goods">
        <div class="main-img" :itemid="item.id" @click="goodsDetail(item.id)"><img :src="item.img" alt=""></div>
        <div class="price">￥{{item.price}}</div>
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    name: 'goods-box',
    props: ['goodsList', 'clickName'],
    data() {
      return {
        more: '更多'
      }
    },
    methods: {
      viewMore(type) {
        this.$router.push({name: 'moreGoods', params: {type: type}})
      },
      goodsDetail(id) {
        this.$router.push({name: 'goodsDetail', params: {id: id}})
      }
    }
  }
</script>

<style scoped>
  .goods-box {
    width: 100%;
    margin: 0 0 15px 0;
    background-color: #eee;
  }

  .title {
    width: 100%;
    height: 60px;
  }

  .title span {
    display: inline-block;
    line-height: 60px;
  }

  .title-name {
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
  }

  .title-name i {
    display: inline-block;
    width: 8px;
    height: 8px;
    transform: rotate(45deg) translate(-50%);
    background-color: #333;
    margin-right: 10px;
  }

  .goods-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*margin-top: -8px;*/
  }

  .goods {
    width: 170px;
    height: 190px;
    /*margin-top: 10px;*/
    margin-bottom: 15px;
  }

  .main-img img {
    width: 100%;
    height: 170px;
  }
</style>
