<template>
  <div class="goods-detail">
    <div class="goods-img">
      <swiper :options="swiperOption" ref="mySwiper">
        <swiper-slide v-for="item in mainImg"><img class="main-img" :src="item.url" :alt="item.title"></swiper-slide>
      </swiper>
    </div>
    <div class="goods-trade">
      <div>
        <p class="goods-title">{{ informationData.goodsName }}</p>
        <p class="goods-price">￥<span class="price">{{informationData.price}}</span></p>
      </div>
      <div class="goods-info">
        <span class="goods-freight">运费：{{informationData.freight}}</span>
        <span class="goods-inventory">剩余：{{informationData.number}}</span>
      </div>
      <div class="trade-tips">全程护航，放心购买</div>
    </div>
    <div class="shop-information">
      <div class="to-shop-index">
        <span class="shop-name">{{informationData.shopName}}</span>
        <span class="right-icon">></span>
      </div>
    </div>
    <div class="goods-information">
      <div class="information-tab">
        <span @click="toggle('info')" :class="{active: status=='info'}">商品详情</span>
        <span @click="toggle('trade')" :class="{active: status=='trade'}">成交记录</span>
      </div>
      <div class="goods-detail-information" v-show="status == 'info'">
        <div class="goods-image" v-for="item in detailData"><img :src="item.imgUrl" alt=""></div>
      </div>
      <div class="goods-trade-information" v-show="status == 'trade'">
        <div class="goods-trade-records">
          <div class="record" v-for="item in tradeData">
            {{item}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import 'swiper/dist/css/swiper.css'

  export default {
    name: 'goodsDetail',
    data() {
      return {
        swiperOption: {
          // autoplay: true,
          loop: true
        },
        status: 'info',
        informationData: {
          shopName: '天上人间',
          goodsName: 'T2噬菌体',
          price: '99.99',
          number: 99,
          freight: '免运费'
        },
        mainImg: [
          {title: 'm1', url: 'http://i3.sinaimg.cn/IT/2012/0328/U2727P2DT20120328071017.jpg'},
          {title: 'm1', url: 'http://i3.sinaimg.cn/IT/2012/0328/U2727P2DT20120328071017.jpg'},
          {title: 'm1', url: 'http://i3.sinaimg.cn/IT/2012/0328/U2727P2DT20120328071017.jpg'}
        ],
        detailData: [
          {title: 'a', imgUrl: 'https://tse4.mm.bing.net/th?id=OIP.dQxc-cIYhjeyEUNEoDz63wHaJf&pid=Api'},
          {title: 'b', imgUrl: 'https://tse4.mm.bing.net/th?id=OIP.dQxc-cIYhjeyEUNEoDz63wHaJf&pid=Api'},
          {title: 'c', imgUrl: 'https://tse4.mm.bing.net/th?id=OIP.dQxc-cIYhjeyEUNEoDz63wHaJf&pid=Api'},
          {title: 'd', imgUrl: 'https://tse4.mm.bing.net/th?id=OIP.dQxc-cIYhjeyEUNEoDz63wHaJf&pid=Api'}

        ],
        tradeData: [
          '交易记录交易记录交易记录交易记录',
          '交易记录交易记录交易记录交易记录',
          '交易记录交易记录交易记录交易记录',
          '交易记录交易记录交易记录交易记录',
        ]
      }
    },
    methods: {
      toggle(type) {
        this.status = type;

      }
    }
  }
</script>

<style scoped>
  .goods-detail {
    width: 100%;
    background-color: antiquewhite;
  }

  .goods-detail > div {
    margin-bottom: 20px;
  }

  .swiper-slide {
    height: 375px;
  }

  .main-img {
    width: 100%;
    height: 100%;
  }

  .goods-trade {
    padding-left: 20px;
    background-color: #fff;
    overflow: hidden;
    white-space: nowrap;
  }

  .goods-title {
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    margin: 15px 0;
  }

  .goods-price {
    color: #f31;
    text-align: left;
    margin: 10px 0;
  }

  .price {
    font-size: 32px;
    font-weight: 700;
  }

  .goods-info {
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ccc;
  }

  .goods-freight {
    float: left;
  }

  .trade-tips {
    height: 40px;
    line-height: 40px;
    text-align: left;
  }

  .shop-information {
    height: 80px;
    line-height: 80px;
    padding: 0 20px;
    background-color: #fff;
    white-space: nowrap;
  }

  .to-shop-index {
    font-size: 22px;
  }

  .shop-name {
    float: left;
  }

  .right-icon {
    float: right;
  }

  .information-tab {
    height: 60px;
    line-height: 60px;
    border-bottom: 4px solid #ececec;
    background-color: #fff;
    font-size: 20px;
    font-family: "Microsoft YaHei UI";
    white-space: nowrap;
  }

  .information-tab > span {
    width: 50%;
    float: left;
  }

  .goods-image img {
    width: 100%;
  }

  .active {
    color: #f30;
    border-bottom: 4px solid #f30;
  }
</style>
