<template>
  <div class="more-goods">
    <h1>More...</h1>
    <h1>More...</h1>
    <h1>More...</h1>
    <h1>More...</h1>
    <h1>More...</h1>

  </div>
</template>

<script></script>

<style>

</style>
