<template>
  <div id="app">
    <router-view/>
    <Navigate></Navigate>
  </div>
</template>

<script>
  // import Welcome from './components/Welcome'
  import Navigate from '@/components/Navigate'


  export default {
    name: 'App',
    components: {Navigate}
  }
</script>

<style>
  * {
    margin: 0;
    padding: 0;
  }

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
</style>
